<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INGRESAR | tradicion criolla</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/pags/login.css">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../imgs/icons/favicon-32x32.png">
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar__logo">
          <a href="../index.html"
            ><img
              src="../imgs/logo/Designer__6_-derecho-removebg-preview.png"
              alt="Logo de Tradición Criolla"
          ></a>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <form id="formLogin" class="form form-login" action="/login" method="post">
          <div>
            <label for="emailUsuario" class="form-label">Usuario</label>
            <input
              type="email"
              class="form-control"
              id="emailUsuario"
              placeholder="email@ejemplo.com">
          </div>
          <div>
            <label for="claveUsuario" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="claveUsuario"
              placeholder="Password">
          </div>
          <div>
            <button type="submit" class="button">Iniciar sesión</button>
          </div>
          <div class="form-link">
            <a href="./registro.html"
              >Eres nuevo aquí? <span>Regístrate</span></a
            >
          </div>
        </form>
      </div>
    </main>
     <!-- Footer-->
    <footer>
      <div>
        <ul>
          <li><a href="../pages/contacto.html">CONTACTO</a></li>
          <li><a href="../pages/mercado.html">MERCADO</a></li>
          <li><a href="../pages/registro.html">REGISTRARSE</a></li>
          <li><a href="../pages/nosotros.html">NOSOTROS</a></li>
        </ul>
        <a href="../index.html"
          ><img
            src="../imgs/logo/Designer__6_-derecho-removebg-preview.png"
            alt="logo de tradicion criolla"></a>
      </div>
      <p>Derechos Registrados 2024 - tradición criolla®</p>
    </footer>
    <script src="../scripts/login.js"></script>
  </body>
</html>
